.parallax-window
{
    background : transparent;
    height     : 300px;
    margin     : 0;
    padding    : 0;
}

.custom-ad-wrapper
{
    display    : block;
    height     : 300px;
    margin-top : 0;
    z-index    : 2;
    position   : relative;

    .cover
    {
        padding         : 20px 0;
        display         : flex;
        justify-content : center;
        align-items     : center;

        img
        {
            height : 85%;
        }
    }

    .text
    {
        margin-top : 20px;

        h1, p
        {
            color : $white;
        }

        h1
        {
            text-transform : uppercase;
        }
    }

    .link
    {
        margin-top      : 55px;
        display         : flex;
        justify-content : center;
    }
}
