nav
{
    padding : 10px 50px;

    .navbar-menu
    {
        margin-left : 50px;

        .navbar-item
        {
            transition    : border-bottom-color .2s;
            border-bottom : 3px solid transparent;
            padding       : 8px 12px 0;

            &:hover, &.is-active
            {
                color               : $black;
                background          : none;
                border-bottom-color : $main-color;
            }
        }

        a
        {
            text-transform : uppercase;
            font-weight    : bold;
        }
    }

    .dropdown
    {
        a
        {
            margin-right : 8px;
        }

        .dropdown-menu
        {
            right     : 0;
            left      : auto;
            min-width : 16rem;

            .dropdown-content
            {
                padding : 10px 15px 0;

                input
                {
                    margin-bottom : 10px;
                }
            }
        }
    }
}
